body {
    background-color: #000;
    margin: 0;
    padding: 0;
    background-image: url("../img/NairobiPose01_3\ 1.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.pas-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 80%; 
    max-width: 500px; 
    padding: 20px; 
    margin-top: 40px;
    margin-left: 40px;
   
}

.text-box {
    font-size: 2vw; 
    font-weight: 400;
    text-align: center; 
}

.text-box-1 {
    font-size: 1vw; 
    max-width: 90%;
    text-align: center; 
}

.pas-box-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.email ,.form-lable{
    width:400px;
}
.btn ,.btn{
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
    .text-box {
        font-size: 9vw; 
        color: red;
    }
    .text-box-1 {
        font-size: 4vw;
    }
    .pas-box {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        width: 80%; 
        max-width: 600px; 
        padding: 20px; 
       
    }
    .email ,.form-lable{
        width:230px;
    }
    
}
