* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Overpass, sans-serif;
  background-color: #f5f5f5;
}
.container1 {
  background-image: url("../img/Main_components.webp");
  filter: sepia(0.4);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: rgb(255, 255, 255);
  filter: brightness(80%);
  padding: 40px;
}
.container1-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container1-2 {
  display: flex;
  justify-content: center;
  text-align: center;
}
.btn {
  width: 160px;
  height: 60px;
  background-color: rgb(169, 56, 0);
  color: rgb(234, 232, 232);
  border: none;
}
.container1-3 {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.container1-2 h1 {
  font-size: 60px;
  font-family: Overpass, sans-serif;
}
.container1-4 {
  display: flex;
  justify-content: space-around;
}
.img img {
  width: 100%;
  padding: 90px;
}
.container2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.solid {
  height: 10px;
  background-color: #fd7600;
  border-radius: 1px;
  width: 90px;
}
.post {
  padding: 120px;
  display: grid;
  flex-direction: row;
  background-color: rgb(234, 230, 230);
}
.post h2 {
  font-family: "Courier New", Courier, monospace;
}
.post .container2-1 {
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 1.5rem;
  font-family: "Times New Roman", Times, serif;
}
.btn2 {
  width: 170px;
  height: 45px;
  color: #a43100;
  margin-top: 20px;
  background-color: rgb(234, 230, 230);
  border-color: #a43100;
}
.btn2:hover {
  background-color: #a43100;
  color: white;
  border-color: #a43100;
}
.content1 img {
  width: 100%;
  display: flex;
  height: 100vh;
  object-fit: cover;
}
.container4 {
  height: 50vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  row-gap: 2rem;
}
.container4 .container4-2 {
  font-size: 40px;
}
.container5 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 2fr));
}
.container5 .img3 {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  position: relative;
  filter: brightness(50%);
  background-size: cover;
  background-image: url("../img/fifth_components_1.webp");
  height: 60vh;
}
.container5 .img4 {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  filter: brightness(50%);
  position: relative;
  background-size: cover;
  background-image: url("../img/fifth_components_2.webp");
  height: 60vh;
}
.container5 .img5 {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  position: relative;
  filter: brightness(50%);
  background-size: cover;
  background-image: url("../img/fifth_components_3.webp");
  height: 60vh;
}
.img4:hover,
.img3:hover,
.img5:hover {
  opacity: 0.9;
}
.img6 {
  width: 50%;
}
.container6 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.container3-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("../img/seven_componets.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  row-gap: 2rem;
  background-position: center;
}
.container3 .container3-2 {
  color: white;
  margin-top: 150px;
  font-weight: 700;
  font-size: 2rem;
  font-family: Overpass, sans-serif;
}
.container3 .container3-3 {
  color: white;
  font-weight: 700;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.button {
  width: 160px;
  height: 50px;
  background-color: rgb(146, 39, 0);
  color: white;
  border: none;
}
.footer {
  height: 20rem;
  background-color: rgb(56, 65, 76);
}
.footer1 {
  padding: 70px;
  display: flex;
  justify-content: space-around;
  letter-spacing: 0.2em;
}
.footer1 {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 13rem;
  justify-content: center;
  line-height: 2.5rem;
}
.footer1 a {
  text-decoration: none;
  color: rgb(185, 184, 184);
  display: flex;
  opacity: 0.5;
  font-size: 0.75rem;
}
.footer1 h4 {
  color: white;
  opacity: 0.8;
}
.footer1 h1 {
  color: lightslategrey;
  opacity: 0.6;
}
.footer2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  text-align: center;
  color: rgb(153, 153, 153);
  background-color: rgb(56, 65, 76);
  letter-spacing: 0.1em;
  font-size: 17px;
  padding-top: 5rem;
}
.footer2 h5 {
  padding-bottom: 5rem;
  font-size: 0.875rem;
}
@media only screen and (max-width: 768px) {
  .container1 {
    height: 490px;
  }

  .container1-1 {
    align-items: center;
    text-align: center;
    display: flex;
  }
  .container1-2 {
    font-family: "Courier New", Courier, monospace;
    font-size: 40px;
    margin-top: 30px;
  }

  .btn,
  .container1-2 h1,
  .container1-4 {
    font-size: smaller;
  }
  .container2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .img img {
    width: 100%;
    padding: 30px;
  }
  .post .container2-1 {
    font-size: 0.85rem;
    font-weight: 100;
    line-height: 1.5rem;
    font-family: "Times New Roman", Times, serif;
  }
  .post {
    padding: 20px;
  }
  .btn2 {
    width: 130px;
    height: 40px;
    background-color: blackrgb(234, 230, 230);
  }
  .container4 {
    height: 60vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    line-height: 1.5rem;
  }
  .container5 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .container6 {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .container3-1 {
    width: 100%;
    display: flex;
    align-items: center;
    height: 90vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
  }
  .container3-1 .h1 {
    font-weight: 700;
    font-size: 2rem;
  }
  .container3-1 .container3-3 {
    font-weight: 200;
    padding: 40px;
  }

  .footer1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    row-gap: 3rem;
  }

  .footer1 a {
    display: block;
  }
  .footer2 {
    padding-top: 30rem;
  }
  .footer2 h5 {
    width: 200px;
    font-size: 14px;
    letter-spacing: normal;
    font-weight: 300;
  }
  .container4 .container4-2 {
    font-size: 25px;
  }
  .post {
    padding: 40px;
    row-gap: 1rem;
  }
  .container5 .img4,
  .container5 .img5,
  .container5 .img3 {
    background-position: center;
  }
}
@media (max-width: 958px) {
  .post {
    padding: 70px;
    row-gap: 2rem;
  }
  .img {
    display: flex;
    align-items: center;
  }
  .container3-1 {
    text-align: center;
  }
  .footer2 {
    padding-top: 30rem;
  }
  .footer1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    row-gap: 3rem;
  }
  .text3 a {
    text-align: center;
  }
  .footer1 a {
    display: block;
  }
}






