body{
    margin: 0;
    padding: 0;
}

.a1 {
    width: 1550px;
    height: 596.012px;
    flex-shrink: 0;
    background-color: #629C61;
}

.a2 {
    color: #F7F3EA;
    font-family: Titillium Web;
    font-size: 43px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    margin: 165px;
    margin-top: 0;
    padding: 65px;
   
}

.a3{
    color: #FFF;
font-family: Titillium Web;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
height: 24px;
width: 393px;
margin-left: 880px;
margin-top: -250px;
word-spacing: 5px;
}

.a4{
    color: #F7F3EA;
text-align: center;
font-family: Titillium Web;
font-size: 42.153px;
font-style: normal;
font-weight: 700;
line-height: normal;
height: 128px;
width: 908px;
margin-left: 330px;
margin-top: 180.11px;
}

.btn{
    color: green;
    font-size: 1em;
    height: 60px;
    width: 180px;

}

.a5{
    width: 1550px;
height: 747px;
background-color: #dfe8ed;
}

.a6{
    color: #3C4761;
text-align: center;
font-family: Titillium Web;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 250px;
}

.a7{
    width: 87px;
height: 4px;
flex-shrink: 0;
fill: #273454;
opacity: 0.65;
margin-left: 730px;
margin-top: -100px;
}

.a8{
    color: #3C4761;
text-align: center;
font-family: Titillium Web;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

